<!DOCTYPE html>
<html>
<head>
    <title>Smart RAG QA</title>
</head>
<body>
    <h1>Smart RAG QA</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <h3>Upload Document</h3>
        <input type="file" name="file">
        <br><br>

        <h3>Ask a Question</h3>
        <input type="text" name="question" placeholder="Enter your question" required>
        <br><br>
        <button type="submit">Get Answer</button>
    </form>

    {% if answer %}
        <h2>Question:</h2>
        <pre>{{ question }}</pre>

        <h2>Answer:</h2>
        <pre>{{ answer }}</pre>

        <h2>Context Used:</h2>
        <pre>{{ context }}</pre>

        <h2>Source:</h2>
        <pre>{{ sources }}</pre>
    {% endif %}
</body>
</html>
